<%= form_for([@legal, @legal.comments.build]) do |f| %>

  <div class="form-group">
    <%= f.label :Commenter  %> <br>
    <%= f.text_field :commenter, class: "form-group" %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %>
  </div>
    <nav>
      <ul class="pager">
        <%= f.submit class: 'btn btn-info btn-xs' %>
      </ul>
    </nav>

<% end %>

 