<%= form_for(legal) do |f| %>
  <% if legal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(legal.errors.count, "error") %> prohibited this legal from being saved:</h2>

      <ul>
      <% legal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :report %>
    <%= f.text_area :report, size:'150x20' , class: 'form-control' %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit  class: 'btn btn-default btn-sm'%>
  </div>
<% end %>
