<div id="post_content">
  <h1 class="blog-title"><%= @legal.title %></h1>
    <h6 class="date">
      Posted by <%= @legal.user.name %>,
      <%= time_ago_in_words(@legal.created_at) %> ago 
    </h6>
        <p><%= simple_format(@legal.report) %></p>

    <div id="comments">
      <h4><%= @legal.comments.count%></h4>
        <span>Comments</span>   
        <%= render @legal.comments %>
      
      <h3>Reply to thread:</h3>
      <%= render 'comments/form' %>
    </div>
    <br>
    <br>
  <% if user_signed_in? %>
    <% if @legal.user_id == current_user.id  %>
      <%= link_to 'Back', root_path, class: "button" %>
      <%= link_to 'Edit', edit_legal_path(@legal), class: "button" %>
      <%= link_to "Delete", legal_path, method: :delete, data: { confirm: 'Are you sure?' },class: "button" %>
    <% end %>
  <% end %>
</div>

