<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @legal.title %>
</p>

<p>
  <strong>Report:</strong>
  <%= @legal.report %>
</p>

<h2>Add a comment:</h2>
<%= form_for([@legal, @legal.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_legal_path(@legal) %> |
<%= link_to 'Back', legals_path %>
