<div id="post_content">
  <h1 class="blog-title"><%= @legal.title %></h1>
    <p class="date">Posted by: Nulla <%= time_ago_in_words(@legal.created_at) %> ago </p>
      <p><%= @legal.report %>.</p>
<hr>           

    <div id="comments">
      <h4><%= @legal.comments.count%></h4>
        <span>Comments</span>   
        <%= render @legal.comments %>
      
      <h3>Reply to thread:</h3>
      <%= render 'comments/form' %>
    </div>
    <br>
    <br>
      <%= link_to 'Back', root_path, class: "button" %>
      <%= link_to 'Edit', edit_legal_path(@legal), class: "button" %>
</div>

